NODE_ENV=development
PORT=3000

DB_HOST = localhost
DB_USERNAME = postgres
DB_PASSWORD = postgres
DB_DATABASE = database_db
DB_PORT = 5432
PATH_SUBDOMAIN=api

JWT_SECRET=super+secret+jwt
JWT_EXPIRES_IN=3600s

MSJ_URL=https://<URL_BASE_MENSAJERIA>/
MSJ_TOKEN=<TOKEN_MENSAJERIA>

IOP_SEGIP_URL=https://interoperabilidad.agetic.gob.bo/fake/segip
IOP_SEGIP_TOKEN=<TOKEN_IOP>

IOP_SIN_URL=https://interoperabilidad.agetic.gob.bo/fake/impuestos/v1
IOP_SIN_TOKEN=<TOKEN_IOP>

OIDC_ISSUER=https://account-idetest.agetic.gob.bo
OIDC_CLIENT_ID=KfJ329yahziQ29OEDfbRq
OIDC_CLIENT_SECRET=IoVrXimpjMWRdblAaOE7uNGp8Pm6RBd9HQWzmQxNbG_bvjjzPfj5QXcK9BxjpGESlI_4VsbqU9hrQIqzqFsC5Q
OIDC_SCOPE=openid nombre documento_identidad fecha_nacimiento email celular offline_access
OIDC_REDIRECT_URI=http://localhost:3000/api/ciudadania-callback
OIDC_POST_LOGOUT_REDIRECT_URI=http://localhost:3000/api/ciudadania-logout
SESSION_SECRET=super+secret+session+key

PDF_PATH=<DIRECTORIO_ARCHIVOS>/
ERROR_LOG_FILE_PATH=error.log