GF_SERVER_DOMAIN=localhost
GF_SERVER_ROOT_URL=http://localhost:5000
GF_SERVER_SERVE_FROM_SUB_PATH=false

# GF_SERVER_DOMAIN=localhost
# GF_SERVER_ROOT_URL=http://localhost:5000/grafana
# GF_SERVER_SERVE_FROM_SUB_PATH=true
